.rides-not-found-div {
  margin-top: 15%;
  text-align: center;

  .icons-not-found-div {
    .info-not-found-icon{
      font-size: 3em;
      color: gainsboro;
    }
  }

  .rides-not-found-label{
    color: gainsboro;
    margin-top: 15px;
  }
}