<div style="margin-right: -100px">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>
<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12 modal-header">
            <i style="margin-top: -16px" class="ion-ios-lock-outline modal-header-icon"></i>
            <label style="margin-left: 45px" class="modal-header-label">Zabudli ste heslo?</label>
            <button class="modal-cancel-button" (click)="closeDialog()"><i class="ion-ios-close-circle-outline"></i></button>
            <button style="margin-right: 5px" class="modal-cancel-button" (click)="backToChoose()"><i class="ion-ios-arrow-dropleft-outline"></i></button>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 40px">
        <img id="passImage" src="images/password.svg">
    </div>
    <div class="col-md-8" style="margin-top: -10px;">
        <form [formGroup]="forgotPasswordForm">
            <div class="form-line">
                <label class="grey-text info-forgot-password">Ak Ste zabudli svoje prihlasovacie heslo, zadajte prosím e-mail, pod ktorým je v systéme registrovaný Váš účet. Následne Vám bude na uvedený e-mail zaslaná adresa, na ktorej si môžete vytvoriť nové heslo.</label>
            </div>
            <div class="form-line">
                <div style="height: 10px">
                    <div class="error-box" *ngIf="formErrors.email">
                        {{formErrors.email}}
                    </div>
                </div>
                <i style="margin-top: -20px" class="ion-ios-mail-open-outline form-input-icon"></i>
                <input class="login-input login-email-input" formControlName="email" type="email" placeholder="e-mail">
            </div>
            <div class="form-line" *ngIf="!resend">
                <button style="width: 99.5%" class="simple-modal-button" [disabled]="!forgotPasswordForm.valid" (click)="sendEmail()">Odoslať</button>
            </div>
            <div class="form-line" *ngIf="resend">
                <button style="width: 99.5%" class="simple-modal-button" [disabled]="!forgotPasswordForm.valid" (click)="sendEmail()">Odoslať znovu</button>
            </div>
        </form>
    </div>
</div>